* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: black;
}
#header {
    text-align: center;
    padding-bottom: 10px;
}
#hlists {
    display: flex;
    justify-content: center;
}
#block {
    width: 900px;
    height: 1000px;
    border-top-color: red;
    border-top-style: solid;
    background-color: black;
    margin: auto;
    display: block;
    text-align: center;
}
#onecharacter {
    margin: auto;
    width: 850px;
    height: 710px;
    text-align: right;
    border-top-color: red;
    border-top-style: solid;
}
#twocharacter {
    width: 850px;
    height: 700px;
    margin: auto;
    text-align: right;
    border-top-color: rgb(0, 255, 0);
    border-top-style: solid;
}
.lists {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    text-align: 0;
}
.list {
    margin: 0 10px;
    float: left;
}
.list a {
    display: block;
    color: red;
    text-align: center;
    text-decoration: none;
    font-family: "Electrolize";
}
.list a:hover {
    text-decoration: underline;
}
.picone {
    float: left;
    margin: 0, 20px, 20px, 0;
    border: 2px, solid, red;
}
.pictwo {
    float: left;
    margin: 0, 20px, 20px, 0;
    border: 2px, solid, rgb(0, 255, 0);
}
h1 {
    color: white;
    font-size: 40px;
    padding: 20px;
    font-family: "Electrolize";
}
p {
    color: white;
    font-size: 20px;
    margin: auto;
    font-family: "Electrolize";
}